extends ../../layout

block stylesheets
  link(rel='stylesheet', href='/css/scraping-main.css')
block javascripts
  script(type='text/javascript', src='/javascripts/webapps/scraping/main.js')

block content
  h1= title

  section#main-content
    ul
      for num in [1, 2, 3, 4, 5]
        li
          a(href='./scraping/page#{num}') page#{num}

  div.button-dialog(data-dialog-name='test-1') open

  div.dialog.hidden(data-dialog-name='test-1')
    div.dialog-box
        div.button-close close

